body{
    font-family:tahoma;
    background:#111;
    color:#eee;
    margin:0;
    padding:0;
}
.container{
    padding:20px;
}
input{
    padding:5px;
    margin:5px;
}
button{
    padding:8px 15px;
    margin:5px;
    cursor:pointer;
    background: #444;
    color:#f5d90f;
    border:none;
    border-radius:5px;
}
button:hover{ background:#666; }
.box{ background:#222; padding:15px; margin:10px 0; border-radius:5px; }
.customer-box{ background:#333; padding:10px; margin:5px 0; border-radius:5px; }