body{
    margin:0;
    background:black;
    overflow:hidden;
    font-family:tahoma;
    color:rgb(255, 0, 0);
    cursor:pointer;
}

/* متن وسط */
.center-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:45px;
    z-index:10;
}

/* متن پایین */
.footer{
    position:absolute;
    bottom:15px;
    width:100%;
    text-align:center;
    font-size:20px;
    z-index:10;
}

/* دکمه ادمین */
.admin-btn{
    position:absolute;
    top:15px;
    right:15px;
    background:transparent;
    border:2px solid rgb(0, 153, 255);
    color:rgb(0, 153, 255);
    padding:8px 15px;
    cursor:pointer;
    transition:0.3s;
    z-index:10;
}

.admin-btn:hover{
    background:rgb(0, 153, 255);
    color:black;
}

/* افکت تغییر رنگ */
@keyframes rgbBorder{
    0%{border-color:rgb(255, 0, 0);}
    15%{border-color:purple;}
    30%{border-color:blue;}
    45%{border-color:rgb(0, 238, 255);}
    60%{border-color:rgb(0, 255, 13);}
}

/* حرکت شناور */
@keyframes float{
    from{transform:translateY(110vh);}
    to{transform:translateY(-110vh);}
}

/* شکل عمومی */
.shape{
    position:absolute;
    border:3px solid red;
    animation:float linear infinite , rgbBorder 6s linear infinite;
    z-index:1;
    pointer-events:none;
}

/* انواع شکل */
.circle{
    border-radius:50%;
}

.square{
    /* مربع نیاز به استایل خاص ندارد */
}

.diamond{
    transform:rotate(45deg);
}